@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}


body {
  font-family: "Lab Grotesque", sans-serif;
  font-weight: 400;
  color: var(--foreground);
  background: var(--background);

}

.bold-f{
  font-weight: 700; /* Bold */
}
.light {
  font-weight: 300; /* Light */
}
.medium {
  font-weight: 500; /* Medium */
}



.pink-btn{
  border: 1px solid #FC3193;
  border-radius: 15px;
  background-color: #FC3193;
  font-weight: 700;
}

.header-menu {
  position: relative; /* Убедитесь, что позиция задана */
}

.header-menu:after {
  content: ""; /* Создает псевдоэлемент */
  display: inline-block; /* Чтобы элемент следовал за текстом */
  height: 28px; /* Высота черточки */
  width: 1px; /* Ширина черточки */
  margin-left: 32px; /* Отступ слева от текста */
  background-color: white; /* Цвет черточки */
  vertical-align: middle; /* Вертикальное выравнивание */
}

@font-face {
  font-family: "Lab Grotesque";
  src: url("/fonts/LabGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Lab Grotesque";
  src: url("/fonts/LabGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Lab Grotesque";
  src: url("/fonts/LabGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Lab Grotesque";
  src: url("/fonts/LabGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .module-container {
    position: sticky;
    top: 50px;
    /*z-index: 1; !* Обеспечиваем порядок наложения *!*/
  }
  .module-container:nth-child(1) {
    z-index: 1;
  }
  .module-container:nth-child(2) {
    z-index: 2;
  }
  .module-container:nth-child(3) {
    z-index: 3;
  }
  .module-container:nth-child(4) {
    z-index: 4;
  }
  .module-container:nth-child(5) {
    z-index: 5;
  }
  .module-container:nth-child(6) {
    z-index: 6;
  }
  .module-container:nth-child(7) {
    z-index: 7;
  }
  .module-container:nth-child(8) {
    z-index: 8;
  }

}



@layer components {
  .cards_wrap__card {
    position: sticky;
    top: 0;
    margin-bottom: -70px; /* Adjust this value to control the overlap amount */
    height: 90vh; /* Ensure each card has a significant height */
  }
  .cards_wrap__card:nth-child(1) {
    z-index: 1; /* Adjust the z-index to ensure stacking order */
  }
  .cards_wrap__card:nth-child(2) {
    z-index: 2;
  }
  .cards_wrap__card:nth-child(3) {
    z-index: 3;
  }
  .cards_wrap__card:nth-child(4) {
    z-index: 4;
  }
  .cards_wrap__card:nth-child(5) {
    z-index: 5;
  }
}